@font-face {
    font-family: 'quicksandlight';
    src: url('fonts/FontKit/quicksand-light-webfont.woff2') format('woff2'),
         url('fonts/FontKit/quicksand-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'black_jackregular';
    src: url('fonts/FontKit/blackjack-webfont.woff2') format('woff2'),
         url('fonts/FontKit/blackjack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mathleteskinny';
    src: url('fonts/FontKit/mathlete-skinny-webfont.woff2') format('woff2'),
         url('fonts/FontKit/mathlete-skinny-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
    background: #f5efeb;
    margin: 0;
}

div#banner {
    background: #b4b7a1;
    padding: 10px;
}

div#banner_name {
    font-family: 'black_jackregular', sans-serif;
    font-size: 3em;
    text-align: center;
}    

div#banner_characteristics {
    font-family: 'quicksandlight', sans-serif;
    text-align: center;
}

div#intro {
  background: white;
  width: 90%;
  margin-left: 5%;
  padding: 10px;
}

div#mantra {
    background: #ce9882;
    padding: 10px;
    margin-left: 5%;
    width: 90%;
    display: block;
}

div#my_story {
    background: white;
    width: 90%;
    text-align: left;
    padding: 10px;
    margin-left: 5%;

}

div#fun {
    background: #cea9a7;
    width: 90%;
    margin-left: 5%;
    padding: 10px;
    height: auto;
}

div#hobbies {
    background: white;
    padding: 1px;
    text-indent: 1em;
    
}

div#macrame {
    margin-top: 10px;
}

h1 {
    font-family: 'mathleteskinny', sans-serif;
}

h3 {
    font-family: 'black_jackregular', sans-serif;
    padding-left: 20%;
    font-size: 1.5em;
    text-indent: 2em;
}

h4 {
    font-family: 'mathleteskinny', sans-serif;
    font-size: 2em;
    padding-left: 10px;
}

h5 {
    font-family: 'mathleteskinny', sans-serif;
    font-size: 2em;
}

 p {
     font-family: 'quicksandlight', sans-serif;
     padding-top: 3px;
     padding-left: 10px;
     text-indent: 1em;
 }

 img#me {
     width: 200px;
     vertical-align: middle;
     border-radius: 50%;
     float: left;
     margin-left: 2%;
     
 }

 img.calligraphy {
     float: left;
     width: 50%;
     
 }
  
 img#macrame {
     width: 500px;
 }

 img.outdoor_pursuits {
     width: 33%;
     float: left;
 }